<nav class="navbar navbar-default navbar-static-top">
    <div class="navbar-header">
        <a class="navbar-brand" href="#">nice-speaking</a>
    </div>
</nav>

<div class="panel panel-default">
    <div class="panel-body container">
        <app-new-item class="col-lg-4"></app-new-item>
        <app-list-item class="col-lg-7"></app-list-item>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div>
        <p class="navbar-text pull-left">(c)-2016</p>
        <p class="navbar-text pull-right">
            <a class="navbar-link" href="https://github.com/onuar/nicespeaking-presentation">github</a>
        </p>
    </div>
</nav>